/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


/*body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold 
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit 
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' 
    background-color:#000000;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen 
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    text-transform:uppercase;
    width:100%;
}*/

.app {
    background-color: #000000;
}

body {
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#Front {
    position: fixed;
    top: 6.25%;
    left: 11.11%;
    height: 93.75%;
    width: 77.778%;
}

#Frame {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

#Screen {
    position: fixed;
    top: 12.5%;
    left: 22.222%;
    height: 18.75%;
    width: 55.556%;
}

#ButLog {
    position: fixed;
    top: 37.5%;
    left: 22.222%;
    height: 6.25%;
    width: 55.556%;
}

#ButGen {
    position: fixed;
    top: 43.75%;
    left: 22.222%;
    height: 6.25%;
    width: 55.556%;
}

#ButPlay {
    position: fixed;
    top: 50%;
    left: 22.222%;
    height: 6.25%;
    width: 55.556%;
}

#Vent {
    position: fixed;
    top: 59.375%;
    left: 22.222%;
    height: 37.5%;
    width: 55.556%;
}

#Exit {
    position: fixed;
    top: 90.625%;
    left: 83.333%;
    width: 16.667%;
    height: 9.375%;
}


/* Landscape layout (with min-width) 
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  //padding-top + padding-bottom + text area = image height 
        margin:-90px 0px 0px -198px;  // offset vertical: half of image height 
                                      //offset horizontal: half of image width and text area width 
    }
}*/

h1 {
    font-size: 24px;
    font-weight: normal;
    font-family: 'Secular One', sans-serif;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

audio {
    color: #E92EFB;
}

button {
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
}

.event.listening {
    background-color: #000000;
    display: block;
}

.event.received {
    background-color: #000000;
    display: none;
}

#deviceready.ready .event.listening {
    display: none;
}

#deviceready.ready .event.received {
    display: block;
}

#Buttons {
    width: 100%;
    height: 55%;
    text-align: center;
}

#Buttons ul li {
    height: 12%;
    list-style-type: none;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#Buttons ul li a {
    text-decoration: none;
    padding: 4px;
    padding-bottom: 7px;
    font-weight: bolder;
    font-size: 23px;
    color: white;
    background-color: #E92EFB;
    text-align: center;
    border-radius: 3px;
    /*box-shadow: 0 0 0 2pt #E92EFB; /*trying this, idk if it will work*/
    /*background-color: #E92EFB;*/
}

#Buttons li img {
    height: 35px;
    width: auto;
    padding-right: 10px;
}

#Buttons a.visited {
    color: #440BD4;
}

#Featured {
    width: 100%;
    display: inline-block;
    float: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 21px;
    color: white;
}

#Featured ul {
    width: 44%;
    display: inline-block;
    float: none;
    border-radius: 3px;
    background: #440BD4;
    padding: 0px
}

#Featured li {
    list-style-type: none;
    display: inline-block;
    padding: 2px;
}

#Featured img {
    width: 22px;
    height: 24px;
    min-height: 10px;
    max-height: 25px;
    margin: 0px;
    padding: 0px;
}

#Playlist {
    background-color: #000000;
}

#Playlist li {
    list-style-type: none;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    background: #440BD4;
    width: 200px;
    height: 300px;
    vertical-align: bottom;
    color: white;
    font-family: 'Arial';
    font-weight: bold;
}

#Playlist li a {
    width: 100%;
    text-decoration: none;
    color: white;
    font-family: 'Arial';
    font-weight: bold;
    word-wrap: break-word;
}

#Playlist li img {
    height: 200px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

#userName {
    width: 50%;
    float: left;
    display: inline block;
    color: white;
}

#CurrentSong {
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

#CurrentSong img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 100%;
    height: auto;
    color: #E92EFB;
}

.container p {
    margin-left: 45%;
}

.container button {
    border: none;
    background-color: white;
    outline: none;
    width: 50%;
    font-size: 25px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
    margin-bottom: 30px;
    border-radius: 5%;
}

.nav {
    width: 100%;
    height: auto;
}

.nav button {
    width: 5%;
    height: auto;
    font-size: 25px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5%;
}

.nav img {
    width: 30%;
    height: auto;
    border-radius: 5%;
    top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*Login-Jaimie*/

.container p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.container input {
    width: 100%;
    margin-bottom: 30px;
}

.container input[type="email"],
input[type="password"] {
    border: none;
    outline: none;
    background-color: white;
    border-radius: 10px;
    height: 35px;
    color: #c24cf6;
    font-size: 16px;
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type="email"],
input[type="password"] {
    border: none;
    outline: none;
    background-color: white;
    border-radius: 10px;
    height: 35px;
    color: #c24cf6;
    font-size: 16px;
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Classes */

.Playlist {
    background-color: #000000 width: 100%;
    height: 100%;
}

.Playlist h1 {
    text-align: center;
    font-family: 'Secular One', sans-serif;
    color: white;
}

.Playlist ul {
    padding: 0;
    margin-left: 1em;
    display: block;
}

.Playlist ul li {
    list-style-type: none;
    margin: 1px 0 0 0;
    padding: 10%;
    display: inline-block;
}

.Playlist ul li img {
    width: 40%;
    height: 40%;
    float: left;
}

.Playlist ul li p {
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    width: 40%;
    margin-left: 5%;
}

.Playlist ul li button {
    text-align: center;
    background-color: blue;
    color: white;
    font-weight: bolder;
    font-size: medium;
    width: 20%;
    margin-left: 5%;
}


/*Songs*/

.Songs {
    background-color: #000000;
    width: 100%;
    height: 100%;
}

.Songs h2 {
    color: white;
    font-family: 'Secular One', sans-serif;
    font-size: x-large;
    text-align: center;
}

.Songs ul {
    padding: 0;
    margin-left: 1em;
    display: block;
}

.Songs ul li {
    list-style-type: none;
    margin: 1px 0 0 0;
    padding: 0;
    display: inline-block;
}

.Songs ul li img {
    width: 20%;
    height: 20%;
    margin-top: 5%;
    float: left;
}

.Songs ul li h3 {
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    width: 40%;
    margin-left: 5%;
}

.Songs ul li p {
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    width: 30%;
    height: 10%;
    margin-left: 5%;
}

.Songs ul li button {
    text-align: center;
    background-color: blue;
    color: white;
    margin-left: 5%;
    padding: 2% 4%;
    font-weight: bold;
    font-size: large;
}

#SongControls {
    width: 100%
}

#SongControls ul {
    width: 100%;
}

#SongControls li {
    width: 25%;
    text-align: center;
    display: block;
    font-size: 14px;
    padding-right: 3px;
    padding-left: 3px;
    margin: 0px;
    float: left;
}

#SongControls audio {
    width: 95%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}