/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/*body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold 
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit 
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' 
    background-color:#000000;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen 
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    text-transform:uppercase;
    width:100%;
}*/
.app{
    background-color: #000000;
}
body {
    background-color: #000000;
    margin:0px;
    padding:0px;
}


/* Landscape layout (with min-width) 
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  //padding-top + padding-bottom + text area = image height 
        margin:-90px 0px 0px -198px;  // offset vertical: half of image height 
                                      //offset horizontal: half of image width and text area width 
    }
}*/

h1 {
    font-size:24px;
    font-weight:normal;
    font-family: 'Secular One', sans-serif;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
audio{
   color: #E92EFB;
}
.event {
    border-radius:4px;
    color:#000000;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#000000;
    display:block;
}

.event.received {
    background-color:#000000;
    display:none;
}

#deviceready.ready .event.listening { display: none; }
#deviceready.ready .event.received { display: block; }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


nav{
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    padding: 1em 0 2em 0;
}

nav a{
    text-decoration: none;
    margin: 0 40px;
  }

#nav-bar-left{
    width: 25%;
}
#Logo{
    width: 50%;
    height: auto;

}
#nav-bar-right{
    width: 25%;
    padding-right:10px;
}
#nav-bar-left img{
    height: auto;/*may need to fix this height*/
    width: 40%;
    border-radius: 3px;
    padding:4px;
    background: #E92EFB;
}
#nav-bar-right img{
    height: auto;/*may need to fix this height*/
    width: 40%;
    border-radius: 3px;
    padding:4px;
    background: #E92EFB;
}
#Logo img{
    width: 80%;
    text-align: center;
}
/*#Logo{
    background-image: url("logo.jpg");
    box-shadow: 0 0 0 1pt #000000;
    width: 50%;
    padding-top: 0px;
    min-width: 50%;
    margin: auto;
    background-position: center;
    height: auto;
    background-repeat: no-repeat;
    text-align:center;
}*/

/*#Logo ul{
    width:50%;
    height: auto;
}
nav ul{
    list-style: none;
    width: 100%;
}*/
/*nav ul li{
    width: 25%;
    list-style-type: none;
    display: inline-block;
    width: auto;
    text-align:center;
    margin-right: 3em;
}*/




#Buttons{
    width: 100%;
    text-align: center;
}
#Buttons ul li{
    list-style-type: none;
    padding-right: 50px;
    padding-bottom: 30px;
}

#Buttons ul li a{
    text-decoration: none;
    padding: 4px;
    padding-bottom: 7px;
    font-family: 'Courier New', monospace;
    font-weight: bolder;
    font-size: 18px;
    color: white;
    background-color: #E92EFB;
    text-align: center;
    border-radius: 3px;
    /*box-shadow: 0 0 0 2pt #E92EFB; /*trying this, idk if it will work*/
    /*background-color: #E92EFB;*/
    
}
#Buttons li img{
    height: 35px;
    width: auto;
    padding-right: 10px;

}

#Buttons a.visited{
    color:#440BD4;
}
#Featured{
    width: 100%;
    display: inline-block;
    float: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 21px;
    color: white;
}
#Featured ul{
    width: 44%;
    display: inline-block;
    float:none;
    border-radius: 3px;
    background: #440BD4;
    padding:0px
}
#Featured li{
    list-style-type: none;
    display:inline-block;
    padding: 2px;
}
#Featured img{
    width: 22px;
    height: 24px;
    min-height: 10px;
    max-height: 25px;
    margin: 0px;
    padding: 0px;
}
#Playlist{
    background-color: #000000;
}
#Playlist li{
    list-style-type: none;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    background: #440BD4;
    width: 200px;
    height: 300px;
    vertical-align: bottom;
    color:white;
    font-family: 'Arial';
    font-weight:bold;
}
#Playlist li a{
    width: 100%;
    text-decoration:none;
    color:white;
    font-family: 'Arial';
    font-weight:bold;
    word-wrap: break-word;
}
#Playlist li img{
    height: 200px;
    width: 100%;
    text-align: center;
    padding-top:30px;

}
#userName{
    width: 50%;
    float:left;
    display: inline block;
    color: white;
}


/*nav{
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    padding: 1em 0 2em 0;
}

nav a{
    text-decoration: none;
    margin: 0 40px;
  }

#nav-bar-left{
    width: 20%;
}
#Logo{
    width: 60%;
    height: auto;

}
#nav-bar-right{
    width: 20%;
    padding-right:10px;
}
#nav-bar-left img{
    height: auto;/*may need to fix this height*
    width: 40%;
    border-radius: 20px;
    padding:4px;
    background: #E92EFB;
}
#nav-bar-right img{
    height: auto;/*may need to fix this height*
    width: 40%;
    border-radius: 20px;
    background: #E92EFB;
}
#Logo img{
    width: 80%;
    text-align: center;
}
/*#Logo{
    background-image: url("logo.jpg");
    box-shadow: 0 0 0 1pt #000000;
    width: 50%;
    padding-top: 0px;
    min-width: 50%;
    margin: auto;
    background-position: center;
    height: auto;
    background-repeat: no-repeat;
    text-align:center;
}*

/*#Logo ul{
    width:50%;
    height: auto;
}
nav ul{
    list-style: none;
    width: 100%;
}*
/*nav ul li{
    width: 25%;
    list-style-type: none;
    display: inline-block;
    width: auto;
    text-align:center;
    margin-right: 3em;
}*




#Buttons{
    width: 100%;
}
#Buttons ul li{
    list-style-type: none;
    padding-right: 50px;
    padding-bottom: 30px;
}

#Buttons ul li a{
    text-decoration: none;
    padding: 4px;
    padding-bottom: 7px;
    font-family: 'Courier New', monospace;
    font-weight: bolder;
    font-size: 25px;
    color: black;
    background-color: #F8F0C6;
    text-align: center;
    /*box-shadow: 0 0 0 2pt #E92EFB; /*trying this, idk if it will work*
    /*background-color: #E92EFB;*
    
}
#Buttons li img{
    height: 35px;
    width: auto;
    padding-right: 10px;
    padding-left: 25%;

}

#Buttons a.visited{
    color:#440BD4;
}
#Featured{
    width: 100%;
    display: inline-block;
    float: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 21px;
    color: white;
}
#Featured ul{
    width: 44%;
    display: inline-block;
    float:none;
    border-radius: 3px;
    background: #440BD4;
    padding:0px
}
#Featured li{
    list-style-type: none;
    display:inline-block;
    padding: 2px;
}
#Featured img{
    width: 22px;
    height: 24px;
    min-height: 10px;
    max-height: 25px;
    margin: 0px;
    padding: 0px;
}
#Playlist{
    background-image: url("VintageRecordList.jpg");
    background-repeat: no-repeat;

}
#Playlist li{
    
    list-style-type: none;
    padding-top: 5%;
    display: inline-block;
    /*border-radius: 20px;
    background: #440BD4;*
    color:black;
    font-family: 'Courier New';
    font-weight:bolder;
}
#Playlist li a{
    width: 100%;
    text-decoration:none;
    color:black;
    font-family: 'Courier New';
    font-weight:bolder;
    word-wrap: break-word;
}
#Playlist li img{
    height: auto;
    width: 100%;
    text-align: center;
    /*padding-top:30px;

}
#userName{
    display: block;
    color: black;
}
*/