body {
    background-color: black;
}

#Front {
    position: fixed;
    top: 6.25%;
    left: 11.11%;
    height: 93.75%;
    width: 77.778%;
}

#Frame {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

#Screen {
    position: fixed;
    top: 12.5%;
    left: 22.222%;
    height: 18.75%;
    width: 55.556%;
}

#List {
    position: fixed;
    top: 37.5%;
    left: 22.222%;
    height: 50%;
    width: 55.556%;
}

#ButOkay {
    position: fixed;
    top: 90.625%;
    left: 27.778%;
    height: 6.25%;
    width: 16.667%;
}

#ButCancel {
    position: fixed;
    top: 90.625%;
    left: 55.556%;
    height: 6.25%;
    width: 16.667%;
}